<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link rel="stylesheet" href="./style.css">

  <!-- header -->
  <link rel="stylesheet" href="./header/header.css">
  <link rel="stylesheet" href="./header/sub-menu.css">
  <link rel="stylesheet" href="./header/checkbox.css">

  <!-- Profile tag -->
  <link rel="stylesheet" href="./profile_tag/profile-tag.css">

  <!-- Newsfeed -->
  <link rel="stylesheet" href="./newsfeed/newsfeed.css">
  <title>Instargam</title>
</head>

<body>
  <!-- Header component -->
  <div class="header">

    <div class="header content">
      <!-- logo -->
      <a class="logo-content" href="#">
        <div class="logo">
          <img src="./header/icons/camera.png" class="logo-image">
          <img class="title"
            src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png"
            alt="./icons/logo.png">
        </div>
      </a>

      <!-- search bar -->
      <input type="text" class="search-bar" placeholder="Tìm kiếm">

      <!-- nav -->
      <div class="navigations">
        <a class="icon padding-right" href="#">
          <svg aria-label="Tìm người" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">
            <path clip-rule="evenodd"
              d="M24 .5C37 .5 47.5 11 47.5 24S37 47.5 24 47.5.5 37 .5 24 11 .5 24 .5zm0 44c11.3 0 20.5-9.2 20.5-20.5S35.3 3.5 24 3.5 3.5 12.7 3.5 24 12.7 44.5 24 44.5zm-4.4-23.7c.3-.5.7-.9 1.2-1.2l14.8-8.1c.3-.1.6-.1.8.1.2.2.3.5.1.8l-8.1 14.8c-.3.5-.7.9-1.2 1.2l-14.8 8.1c-.3.1-.6.1-.8-.1-.2-.2-.3-.5-.1-.8l8.1-14.8zm6.2 5l4.3-7.8-7.8 4.3 3.5 3.5z"
              fill-rule="evenodd"></path>
          </svg>
        </a>
        <div class="mask"></div>
        <button class="icon has-submenu padding-right" href="#">
          <!-- submenu -->
          <div class="submenu">
            <div class="rectangle"></div>
            <div class="content">
              <a href="#" class="stack">
                <img src="https://picsum.photos/40" class="avatar">
                <div class="underline">
                  <p class="user">nguyenlam0508</p>
                  <p class="happen">đã bắt đầu theo dõi bạn</p>
                  <p class="time"> 1 tuần</p>
                  <input type="checkbox" class="follow-btn">
                </div>
              </a>
              <a href="#" class="stack">
                <img src="https://picsum.photos/40" class="avatar">
                <div class="underline">
                  <p class="user">nguyenlam0508</p>
                  <p class="happen">đã bắt đầu theo dõi bạn</p>
                  <p class="time"> 1 tuần</p>
                  <input type="checkbox" class="follow-btn">
                </div>
              </a>
              <a href="#" class="stack">
                <img src="https://picsum.photos/40" class="avatar">
                <div class="underline">
                  <p class="user">nguyenlam0508</p>
                  <p class="happen">đã bắt đầu theo dõi bạn</p>
                  <p class="time"> 1 tuần</p>
                  <input type="checkbox" class="follow-btn">
                </div>
              </a>
        </button>
        <a class="icon no-padding-right" href="#">
          <img src="./header/icons/user.svg">
        </a>
      </div>
    </div>
  </div>
  <!-- End Header here -->

  <!-- Profile -->
  <div class="profile">
    <a href="#" class="user">
      <img class="user avatar" src="./profile_tag/img/no-photo-profile-employment-job-search.png">
    </a>
    <div class="profile text-content">
      <div class="text-content user-id"><a href="#">lorem</a></div>
      <p class="username">Lorem ipsum</p>
    </div>
  </div>
  <!-- End Profile here -->

  <!-- Newsfeed -->
  <div class="newsfeed">
    <div class="badge">
      <div class="text">Tin</div>
      <a href="#" class="see-all">Xem tất cả</a>
    </div>
    <div class="news">
      <a href="#" class="stack">
        <img src="./profile_tag/img/no-photo-profile-employment-job-search.png" class="avatar">
        <div class="info">
          <div class="name">Lorem</div>
          <time class="time">13 giờ trước</time>
        </div>
      </a>
      <a href="#" class="stack">
        <img src="./profile_tag/img/no-photo-profile-employment-job-search.png" class="avatar">
        <div class="info">
          <div class="name">Lorem</div>
          <time class="time">13 giờ trước</time>
        </div>
      </a>
      <a href="#" class="stack">
        <img src="./profile_tag/img/no-photo-profile-employment-job-search.png" class="avatar">
        <div class="info">
          <div class="name">Lorem</div>
          <time class="time">13 giờ trước</time>
        </div>
      </a>
    </div>
  </div>

  <!-- End Newsfeed here -->

</body>
<!-- Header script -->
<script src="./header/scripts/showSubMenu.js"></script>
<script src="./header/scripts/onScroll.js"></script>

</html>