/* font */
@font-face {
  font-family: 'fontello';
  src: url('./component/header/font/fontello.eot'); /* IE9 Compat Modes */
  src: url('./component/header/font/fontello.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./component/header/font/fontello.woff') format('woff'), /* Modern Browsers */
       url('./component/header/font/fontello.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./component/header/font/fontello.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* body */
body{
  display: flex;
  position: relative;
  background-color: #ebebeb;
  margin: 137px 0px 0px 0px;
  border: 0px;
  padding: 15px 0px 0px 0px;
}

/* components */
button,input:focus{
  outline: white;
}
a{
  text-decoration: none;
}